body {
    padding-top:65px;
    background-color:#2c2c2c;
}

.navbar .nav > li {
    float:none;
    display:inline-block;
    text-align:center;
    vertical-align:top;
}

p {
    color:#c2c2c2;
}

.navbar {
    background-color: #5e00ff;
}

.form-control {
    color:#000;    
}

.t1 {
    padding:12px;
    width:48em;
    color:c2c2c2;
    text-align:center;
}

.tablecell {
    float:left;
    width:550px;
    text-align:center;
}
.imgtitle {
    padding:12px;
    color:c2c2c2;
    width:190px;
    margin-left:255px;
    max-height:35px;
    }

.header {
    color:#5d90cd;
    text-align:center;
}

.iplayerinfo {
    width:400px;
    margin-left:95px;
    text-align:center;
    clear:left;
}
.infotitle {
    text-align:left;
    font-size:1.2em;
    float:left;
    padding:4px;
    margin-left:115px;
}
.infothumb {
    float:right;
    margin-right:100px;
    margin-top:20px;
}

.form-group {
    float:right;
    clear:right;
    margin-top:12px;
    margin-right:100px;
}

.infoform + .form-group {
    float:right;
    clear:right;
    margin-top:12px;
    margin-right:65px;
}

.sform {
    text-align:center;
    margin:auto;
    /* margin-left:110px; */
    margin-top:100px;
    

}
.searchbutton {
    border:solid #2c2c2c 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 1px 3px 5px #222;
    -moz-box-shadow: 1px 3px 5px #222;
    -webkit-box-shadow: 1px 3px 5px #222;
    padding:4px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#7DA6D7), to(#41648f));
    background: -moz-linear-gradient(#7DA6D7, #41648f);
    background: -o-linear-gradient(#7DA6D7, #41648f);
    background: linear-gradient(top center, #7DA6D7, #41648f);
    color:#111;
}
.download {
    margin-top:100px;
    text-align:center;
    font-size:1.3.em;
    }